<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLTWSX42E3mgpsk3AOtMjLBgcEqxD9tdE</string>
	<key>GCM_SENDER_ID</key>
	<string>774274737207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techHaven</string>
	<key>PROJECT_ID</key>
	<string>techhaven-f7917</string>
	<key>STORAGE_BUCKET</key>
	<string>techhaven-f7917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774274737207:ios:f85733eaa32b55e9494bb2</string>
</dict>
</plist>